{% extends "layout.html" %}
{% block title %}Admin sivu{% endblock %}
{% block content %}
<div class="col-11 mx-auto">
  <form action="/adminpage" method="POST">
      {% for user in users %}
      <div class="form-row">
      <label class="col-form-label col-sm-3">{{ user.username }}</label>
      <input type="hidden" name="users" value="{{ user.username }}">
        <select class="col-sm-auto" name="level">
          <option value="1" {% if user.security_level|int == 1 %}selected{% endif %}>Opiskelija</option>
          <option value="2" {% if user.security_level|int == 2 %}selected{% endif %}>Ohjaaja</option>
          <option value="3" {% if user.security_level|int == 3 %}selected{% endif %}>Admin</option>
        </select>
      </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Tallenna">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
</div>
{% endblock %}
