{% extends "layout.html" %}
{% block title %}Oikeuksien hallinta{% endblock %}
{% block content %}
<div class="col-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}">Kurssin etusivu</a>
    </li>
    {% if (owner) or (session.level == 3) %}
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/rights">Oikeuksien hallinta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/createpage">Lisää kurssisivu</a>
    </li>
    <hr>
    {% endif %}
    {% for material in materials %}
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/{{ material[1] }}">{{ material[0] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col-10">
  <form action="/course/{{ id }}/rights" method="POST">
  <div id="users" class="form-group">
  {% for user in users %}
    <div class="form-row">
    {% if user.username == None %}
    <label class="col-form-label col-sm-3">Julkinen</label> 
    <input type="hidden" name="current" value="0">
    {% elif user.username != None %}
    <label class="col-form-label col-sm-3">{{ user.username }}</label> 
    <input type="hidden" name="current" value="{{ user.user_id }}">
    {% endif %}
    <select class="col-sm-auto" name="select">
      <option value="blocked" {% if user.can_read|string == "False" %}selected{% endif %}>Estetty</option>
      <option value="read" {% if user.can_read|string == "True" %}selected{% endif %}>Luku</option>
    </select>
    <br>
    </div>
  {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
        <br>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<input type="button" class="btn btn-secondary" value="Lisää käyttäjä" onClick="adduser()">
<input type="submit" class="btn btn-primary" value="Tallenna">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>


<script>
function adduser() {
  var div = document.getElementById("users");
  var newuser = document.createElement("textarea");
  newuser.setAttribute("name", "newuser");
  var right = document.createElement("SELECT");
  right.setAttribute("name", "right");
  right.appendChild(new Option("Estetty"));
  right.appendChild(new Option("Luku"));
  div.appendChild(newuser);
  div.appendChild(right);
  div.appendChild(document.createElement("br"));
}
</script>

{% endblock %}
