
{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
<div class="col-11 mx-auto">
  <form action="/delete" method="POST">
    <div class="form-group">
      <h4>Vahvista tunnuksen poisto</h4>
      <label for="password">Anna salasanasi:</label>
      <input type="password" class="form-control col-2" id="password" name="password">
      <br>
      <input type="submit" class="btn btn-danger" value="Vahvista">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
  </form>
</div>


{% endblock %}

