{% extends "layout.html" %}
{% block title %}Luo kurssisivu{% endblock %}
{% block content %}
<div class="col-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}">Kurssin etusivu</a>
    </li>
    {% if (owner) or (session.level == 3) %}
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/rights">Oikeuksien hallinta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/createpage">Lisää kurssisivu</a>
    </li>
    <hr>
    {% endif %}
    {% for material in materials %}
    <li class="nav-item">
      <a class="nav-link" href="/course/{{ id }}/{{ material[1] }}">{{ material[0] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col-10">
  <form action="/course/{{ id }}/createpage/" method="POST">
  <p>
    Aihe:
    <input type="text" name="title" required>
    <br>
    Sisältö:
    <br>
    <div id="materials">
      <div name="textarea">  
        <textarea name="content" rows="10" cols="50"></textarea>
        <input type="hidden" name="type" value="text">
      </div>
    </div>
    <br> 
    <input class="btn btn-secondary" type="button" value="Lisää uusi tekstisisältö" onClick="addfield()">
    <input class="btn btn-secondary" type="button" value="Lisää tehtävä" onClick="addassignment()">
    <input class="btn btn-secondary" type="button" value="Poista viimeisin sisältö" onClick="removefield()">
    <br>
    <input class="btn btn-primary" type="submit" value="Luo sivu">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </p>
</div>
<script>
function addfield() {
	var materials = document.getElementById("materials");
	var newfield = document.createElement("TEXTAREA");
        var textarea = document.createElement("div");
        textarea.setAttribute("name", "text");
	var type = document.createElement("input");
	newfield.setAttribute("name", "content");
	newfield.setAttribute("rows", "10");
	newfield.setAttribute("cols", "50");
	type.setAttribute("type", "hidden");
	type.setAttribute("name", "type");
	type.setAttribute("value", "text");
	textarea.appendChild(newfield);
	textarea.appendChild(type);
        materials.appendChild(textarea);
}
function removefield() {
	var materials = document.getElementById("materials");
	materials.removeChild(materials.lastChild);
	materials.removeChild(materials.lastChild);
}
function addassignment() {
	let list = [];
	var assignment = document.createElement("div");
	assignment.setAttribute("name", "assignment");
	var title = document.createElement("INPUT");
	title.setAttribute("type", "text");
	title.setAttribute("name", "qtitle");
	var question = document.createElement("TEXTAREA");
	question.setAttribute("cols", "50");
	question.setAttribute("rows", "5");
	question.setAttribute("name", "question");
	var answer = document.createElement("SELECT");
	answer.appendChild(new Option("1"));
	answer.appendChild(new Option("2"));
	answer.appendChild(new Option("3"));
	answer.setAttribute("name", "answer");
	var answer1 = document.createElement("INPUT");
	var answer2 = document.createElement("INPUT");
	var answer3 = document.createElement("INPUT");
	answer1.setAttribute("type", "text");
	answer1.setAttribute("name", "answeropt");
	answer2.setAttribute("type", "text");
	answer2.setAttribute("name", "answeropt");
	answer3.setAttribute("type", "text");	
	answer3.setAttribute("name", "answeropt");
	assignment.appendChild(document.createTextNode("Otsikko:"));
	assignment.appendChild(title);
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(document.createTextNode("Tehtävänanto:"));
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(question);
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(document.createTextNode("Vastaus"));
	assignment.appendChild(answer);
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(document.createTextNode("Vaihtoehto 1"));
	assignment.appendChild(answer1);
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(document.createTextNode("Vaihtoehto 2"));
	assignment.appendChild(answer2);
	assignment.appendChild(document.createElement("br"));
	assignment.appendChild(document.createTextNode("Vaihtoehto 3"));
	assignment.appendChild(answer3);
	var type = document.createElement("input");
	type.setAttribute("type", "hidden");
	type.setAttribute("name", "type");
	type.setAttribute("value", "assignment");
	assignment.appendChild(type);
	materials.appendChild(assignment);
}
</script>
{% endblock %}
